html{
    cursor: url(../img/mira2.png)30 30, auto;
}

body{
    background-image: url('../img/iti.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.mosquito1{
    width: 100px;
    height: 100px;
}
.mosquito2{
    width: 180x;
    height: 180px;
}
.mosquito3{
    width: 200px;
    height: 200px;
}

.ladoA{
    transform: scaleX(1);

}

.ladoB{ 
    transform: scaleX(-1);

}

.Painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0; 
    bottom: 0px;
    border-top: solid #fff;
    background-color: #cabdbda8;
    opacity: 0.7;
}

.Vida{
    float: left;
}

.Cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#Escolha{
    position: absolute;
    top: 62% ;
    left: 47%;
}

.botao{
    position: absolute;
    top: 67%;
}

.principal{
    position: absolute;
    top: 30%;
    right: 30%;
    left: 0.5%;
}

.Vencer{
    position: absolute;
    top: 55%;
    left: 48%;
}

#vitorias{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 800px;
}

.Over{
    position: absolute;
    top: 5%;
    left: 15%;
    width: 1500px;
}

.botaoGame{
    position: absolute;
    top: 85%;
    width: 5%;
}

#painel2{
    position: absolute;
    width: 200px;
    padding: 10px;
    left: 0;
    bottom: 0;
    border-top: solid #fff;
    border-color: #fff;
    opacity: 0.7;
    left: 88.5%;
}

.topo{
    top: 4.5%;
    right: 11.5%;
    position: absolute;
}

.vencedor{
    position: absolute;
    top: 80%;
    width: 5%;
}